.App {
    text-align: center;
    background-color: bisque;
    margin-left: 500px;
    width: 500px;
    height: 500px;
    padding: 10px;
  }
  
  .form-container {
    
    margin-bottom: 20px;
    
  }
